* {
  box-sizing: border-box;
  font-family: 'Encode Sans', sans-serif;
}

body {
  background-color: #C6D8D3;
  margin: 0;
}

h1, h2, p {
  color: black;
  text-align: center;
}

#mainheader {
  background: url("https://cdn.pixabay.com/photo/2016/11/23/14/02/close-up-1853057_960_720.jpg") 0px;
  background-size: cover;
  overflow: hidden;
  height: 250px;
  width: 100%;
  margin-bottom: 50px;
}

/*code van https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity*/
.container {
    position: relative;
    width: 75%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/*tot hier... vraag: hoe doe je this met javascript. als je hovert dat die alleen 1 van de classes highlight..https://stackoverflow.com/questions/27442664/highlight-an-element-on-hover &  http://jsfiddle.net/TpX8S/1/ */

.caption img, .thanks img {
  max-width: 100%;
  margin: auto;
  height: auto;
  display: block;
}

.caption p {
  font-size: 150%;
  padding: 5px border: 1px solid black;
  text-decoration: none;
  /*waarom werkt dit niet? heb het ook maar op hover gedaan werkt ook niet*/
}

.caption p:hover {
  text-decoration: none;
  /*doet dus niets*/
}
.caption {
  padding: 5%;
}
#citaat {
  text-align: center;
}

.spaceBelow {
  padding-bottom: 30px;
}

footer {
  background-color: #333;
  color: white;
  font-size: 150%;
  margin-top: 20px;
  padding: 40px;
}

@media only screen and (max-width: 768px) {
  #mainheader {
    padding: 10px 0;
  }
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity dit nog maken met caption*/
